*{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}

img{
    cursor: pointer;
}

/*! Header */

nav{
    padding: 10px , 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: static;
    top: 0;
    z-index: 10;
}

nav span {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

nav img{
    width: 25%;
}

nav i{
    font-size: 20px;
}